.msg {
  color: rgb(59, 165, 119);
  animation: vertical 1.2s ease-in-out infinite alternate;
}

@keyframes vertical {
  0% {
    transform:translateY(-8px);
  }
  100% {
    transform:translateY(8px);
  }
}
